/* 自动拆分生成: css/action-sheet.css */

.action-sheet-overlay { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); z-index: 3000; display: flex; align-items: flex-end; }

.action-sheet { width: 100%; background: var(--bg-color); padding: 0px 10px 10px; }

.action-sheet button { width: 100%; padding: 16px; background: rgb(255, 255, 255); border: none; font-size: 17px; cursor: pointer; }

.action-sheet button:first-child { border-radius: 10px 10px 0px 0px; border-bottom: 1px solid rgb(240, 240, 240); }

.action-sheet button:nth-child(2) { border-radius: 0px 0px 10px 10px; }

.action-sheet .cancel-btn { margin-top: 8px; border-radius: 10px; font-weight: bold; }

