/* 自动拆分生成: css/contacts.css */

.contact-section { background: rgb(255, 255, 255); }

.contact-item { display: flex; align-items: center; padding: 10px 16px; border-bottom: 1px solid rgb(240, 240, 240); cursor: pointer; position: relative; }

.contact-item:active { background: var(--bg-color); }

.contact-icon { width: 44px; height: 44px; border-radius: 4px; margin-right: 14px; display: flex; align-items: center; justify-content: center; flex-shrink: 0; }

.contact-name { flex: 1 1 0%; font-size: 17px; color: rgb(0, 0, 0); font-weight: 500; }

.contact-arrow { display: block; color: rgb(178, 178, 178); font-size: 22px; font-family: sans-serif; margin-left: 8px; font-weight: 300; }

.contact-footer-text { text-align: center; padding: 6px; color: rgb(125, 125, 125); font-size: 12px; background: rgb(237, 237, 237); }

.index-bar { position: absolute; right: 0px; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; align-items: center; padding: 10px 2px; z-index: 10; font-size: 11px; color: rgb(85, 85, 85); font-weight: 600; line-height: 1.4; }

.index-bar span { display: block; width: 16px; text-align: center; }

