/* 自动拆分生成: css/chat-list.css */

.chat-item { display: flex; padding: 12px 16px; border-bottom: 1px solid rgb(240, 240, 240); cursor: pointer; background: rgb(255, 255, 255); }

.chat-item:active { background: var(--bg-color); }

.avatar { width: 50px; height: 50px; border-radius: 6px; background: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%); flex-shrink: 0; margin-right: 12px; display: flex; align-items: center; justify-content: center; color: white; font-size: 20px; }

.chat-info { flex: 1 1 0%; min-width: 0px; }

.chat-header { display: flex; justify-content: space-between; margin-bottom: 6px; }

.chat-name { font-size: 16px; color: var(--text-primary); font-weight: 400; }

.chat-time { font-size: 13px; color: var(--text-secondary); }

.chat-preview { font-size: 14px; color: var(--text-secondary); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.wechat-group-avatar { width: 50px; height: 50px; background: rgb(238, 238, 238); border-radius: 6px; display: flex; flex-wrap: wrap; place-content: center; align-items: center; padding: 1px; box-sizing: border-box; overflow: hidden; flex-shrink: 0; margin-right: 12px; }

.wechat-group-avatar > div { background-color: rgb(224, 224, 224); background-size: cover; background-position: center center; margin: 1px; border-radius: 2px; }

.wechat-group-avatar.mode-2 > div { width: 21px; height: 21px; }

.wechat-group-avatar.mode-3 > div { width: 13px; height: 13px; }

