/* 自动拆分生成: css/edit-name.css */

.edit-name-content { margin-top: 10px; padding: 0px 16px; }

.edit-name-input { width: 100%; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(229, 229, 229); padding: 16px 0px; font-size: 16px; outline: none; background: transparent; }

.edit-name-input:focus { border-bottom-color: var(--primary-color); }

.edit-name-hint { padding: 10px 0px 20px; font-size: 14px; color: var(--text-secondary); }

.save-button { background-color: rgb(226, 226, 226); color: rgb(255, 255, 255); padding: 7px 14px; border-radius: 6px; font-size: 15px; cursor: not-allowed; transition: background-color 0.3s; }

.save-button.active { background-color: var(--primary-color); cursor: pointer; }

