/* 自动拆分生成: css/page.css */

.content { flex: 1 1 0%; overflow: hidden auto; background: rgb(255, 255, 255); position: relative; }

.page { display: none; opacity: 0; transform: translateX(100%); transition: transform 0.3s ease-out, opacity 0.3s ease-out; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(255, 255, 255); }

.page.active { display: block; opacity: 1; transform: translateX(0px); position: relative; }

.page.slide-from-left { transform: translateX(-100%); }

.page.slide-to-right { transform: translateX(100%); }

.page.slide-to-left { transform: translateX(-100%); }

